:root {
  --gap: 2rem;
}

.outer-slider {
  overflow: hidden;
}

.inner-slider {
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);
  animation: slide 60s linear infinite;
}

.landingpage {
  background-image: url("yy.png");
  background-position: right;
  background-size:contain;
  background-color: white;
  background-repeat: no-repeat;
}


@keyframes slide {
  0% {
    transform: translateX(90%);
  }
  50% {
    transform: translateX(calc(-90% - var(--gap)));
  }
  100% {
    transform: translateX(90%);
  }
}
